@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app, main {
    height: 100%;
    overflow: hidden;
    /* font-family: SF Pro Display, SF Pro Text, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.example-container path, .example-container circle, .example-container rect, .example-container line {
    cursor: pointer;
}

.example-container path:hover, .example-container circle:hover, .example-container rect:hover, .example-container line:hover {
    stroke: black !important;
    stroke-width: 2px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}