@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
    height: 100%;
    overflow: none;
}

.example-container path, .example-container circle, .example-container rect, .example-container line {
    cursor: pointer;
}

.example-container path:hover, .example-container circle:hover, .example-container rect:hover, .example-container line:hover {
    stroke: black !important;
    stroke-width: 2px;
}