@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app, main {
    height: 100%;
    overflow: hidden;
}

.example-container path, .example-container circle, .example-container rect, .example-container line {
    cursor: pointer;
}

.example-container path:hover, .example-container circle:hover, .example-container rect:hover, .example-container line:hover {
    stroke: black !important;
    stroke-width: 2px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}