@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
    height: 100%;
    /* height: fit-content; */
    overflow: none;
}

.example-container path {
    cursor: pointer;
}

.example-container path:hover {
    stroke: black !important;
    stroke-width: 2px;
}